[Unit]
After=network-online.target
Description=desc

[Service]
User=sid
Environment=source home/sid/ros2_ws/install/setup.bash
ExecStart=/bin/bash -c 'source /opt/ros/humble/setup.bash; source home/sid/ros2_ws/install/setup.bash; ros2 launch rack bringup_launch.py; sleep 60'
RemainAfterExit=no
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target